<h1>Listing attendees</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Affiliation</th>
    <th>Email</th>
    <th>Nickname</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attendees.each do |attendee| %>
  <tr>
    <td><%= attendee.name %></td>
    <td><%= attendee.affiliation %></td>
    <td><%= attendee.email %></td>
    <td><%= attendee.nickname %></td>
    <td><%= link_to 'Show', attendee %></td>
    <td><%= link_to 'Edit', edit_attendee_path(attendee) %></td>
    <td><%= link_to 'Destroy', attendee, :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attendee', new_attendee_path %>
