<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @attendee.name %>
</p>

<p>
  <b>Affiliation:</b>
  <%= @attendee.affiliation %>
</p>

<p>
  <b>Email:</b>
  <%= @attendee.email %>
</p>

<p>
  <b>Nickname:</b>
  <%= @attendee.nickname %>
</p>

